body {
  margin: 0;
}

.wrapper-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  border: 12px solid green;
  box-sizing: border-box;
}

.hover-message {
  margin: 10px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

.image-wrapper {
  width: 80%;
  max-width: 875px;
  height: 70%;
  border: 12px solid red;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url('../img/meme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*transform: scale(1) skew(0);*/
  transition: transform .7s ease-in-out;
}

.image.scale {
  transform: scale(3);
}

.image.rotate {
  transform: rotate(180deg);
}

.image.skew {
  transform: skew(20deg,10deg);
}

.image:hover {
  transform: scale(3);
  cursor: pointer;
}

.heading {
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
  margin: 30px;
  text-align: center;
}

.subheading {
  color: #fff;
  font-size: 30px;
}

.action-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 35px;
  right: 40px;
}

.btn {
  padding: 20px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  margin: 10px;
}

.font-italic {
  font-style: italic;
}